@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "krona-one";
  src: url("../public/font/KronaOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "rubik";
  src: url("../public/font/Rubik-VariableFont_wght.ttf") format("truetype");
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
}

.filter-grey {
  filter: brightness(0) saturate(100%) invert(47%) sepia(0%) saturate(217%)
    hue-rotate(32deg) brightness(98%) contrast(92%);
}

/* ========================================== TAILWIND STYLES */
@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .shadowCj {
    box-shadow: 0px 15px 5px 0px rgba(0, 0, 0, 0.638);
  }

  .innerShadow {
    box-shadow: inset 0px 20px 20px 0px rgba(0, 0, 0, 0.518);
  }

  .bg-linear-text {
    background: linear-gradient(180deg, #ff4000d5 30.35%, #9000ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-linear-hover {
    background: linear-gradient(180deg, #ff400075 30.35%, #9000ff73 100%);
  }

  .border-gradient {
    border: 4px solid; /* Définir la largeur de la bordure */
    border-image: linear-gradient(180deg, #ff4000 30.35%, #9000ff 100%);
    border-image-slice: 1; /* Assure que le dégradé couvre toute la bordure */
    border-radius: calc(var(--radius) - 4px);
  }

  .bg-auth {
    background-image: url("/assets/images/accueilImg.jpg");
    /* background-size: cover; */
  }

  .kronaOne {
    font-family: "krona-one";
  }

  .rubik {
    font-family: "rubik";
  }

  /* TYPOGRAPHY */
  /* 64 */
  .h1-bold {
    @apply font-bold  text-[30px] leading-[48px] lg:text-[48px] lg:leading-[60px]  xl:text-[58px] xl:leading-[74px] text-dark dark:text-white;
  }

  /* 40 */
  .h2-bold {
    @apply font-bold text-[30px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px] text-dark dark:text-white;
  }

  .h2-medium {
    @apply font-medium text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px] text-dark dark:text-white;
  }

  /* 36 */
  .h3-bold {
    @apply font-bold text-[28px] leading-[36px] md:text-[36px] md:leading-[44px] text-dark dark:text-white;
  }

  .h3-medium {
    @apply font-medium text-[28px] leading-[36px] md:text-[36px] md:leading-[44px] text-dark dark:text-white;
  }

  /* 32 */
  .h4-medium {
    @apply font-medium text-[32px] leading-[40px] text-dark dark:text-white;
  }

  /* 28 */
  .h5-bold {
    @apply font-bold text-[28px] leading-[36px] text-dark dark:text-white;
  }

  /* 24 */
  .p-bold-24 {
    @apply font-bold text-[24px] leading-[36px] text-dark dark:text-white;
  }

  .p-medium-24 {
    @apply font-medium text-[24px] leading-[36px] text-dark dark:text-white;
  }

  .p-regular-24 {
    @apply font-normal text-[24px] leading-[36px] text-dark dark:text-white;
  }

  /* 20 */
  .p-bold-20 {
    @apply font-bold text-[20px] leading-[30px] tracking-[2%] text-dark dark:text-white;
  }

  .p-semibold-20 {
    @apply text-[20px] font-semibold leading-[30px] tracking-[2%] text-dark dark:text-white;
  }

  .p-medium-20 {
    @apply text-[20px] font-medium leading-[30px] text-dark dark:text-white;
  }

  .p-regular-20 {
    @apply text-[20px] font-normal leading-[30px] tracking-[2%] text-dark dark:text-white;
  }

  /* 18 */
  .p-semibold-18 {
    @apply text-[18px] font-semibold leading-[28px] tracking-[2%] text-dark dark:text-white;
  }

  .p-medium-18 {
    @apply text-[18px] font-medium leading-[28px] text-dark dark:text-white;
  }

  .p-regular-18 {
    @apply text-[18px] font-normal leading-[28px] tracking-[2%] text-dark dark:text-white;
  }

  /* 16 */
  .p-bold-16 {
    @apply text-[16px] font-bold leading-[24px] text-dark dark:text-white;
  }

  .p-medium-16 {
    @apply text-[16px] font-medium leading-[24px] text-dark dark:text-white;
  }

  .p-regular-16 {
    @apply text-[16px] font-normal leading-[24px] text-dark dark:text-white;
  }

  /* 14 */
  .p-semibold-14 {
    @apply text-[14px] font-semibold leading-[20px] text-dark dark:text-white;
  }

  .p-medium-14 {
    @apply text-[14px] font-medium leading-[20px] text-dark dark:text-white;
  }

  .p-regular-14 {
    @apply text-[14px] font-normal leading-[20px] text-white dark:text-white;
  }

  /* 12 */
  .p-medium-12 {
    @apply text-[12px] font-medium leading-[20px] text-dark dark:text-white;
  }

  /* SHADCN OVERRIDES */
  .select-field {
    @apply rubik text-dark dark:text-white w-full bg-transparent h-[40px] placeholder:text-dark dark:placeholder:text-white rounded-sm p-regular-16 px-5 py-2 border-none focus-visible:ring-transparent focus:ring-transparent !important;
  }

  .input-field {
    @apply rubik text-dark dark:text-white bg-grey-50 h-[40px]  focus-visible:ring-offset-0 placeholder:text-grey-500 rounded-sm p-regular-16 px-4 py-2 border-none focus-visible:ring-transparent !important;
  }

  .textarea {
    @apply rubik text-dark dark:text-dark bg-grey-50 flex flex-1 placeholder:text-grey-500 p-regular-16 px-5 py-3 border-none focus-visible:ring-transparent !important;
  }

  .button {
    @apply rubik rounded-sm bg-gradient-to-r from-purple-600 to-orange-600 text-white dark:text-white hover:bg-gradient-to-r hover:from-purple-700 hover:to-orange-700  h-[40px] p-regular-14;
  }

  .select-item {
    @apply rubik py-3 cursor-pointer text-dark dark:text-white bg-white dark:bg-dark hover:bg-red-50 focus:bg-primary-50;
  }

  .toggle-switch {
    @apply bg-gray-300 !important;
  }

  .dropdown {
    @apply rubik text-dark dark:text-dark bg-grey-50 p-regular-16 rounded-lg;
  }
}

/* ========================================== CLERK STYLES */
.cl-logoImage {
  height: 38px;
}

.cl-userButtonBox {
  flex-direction: row-reverse;
}

.cl-userButtonOuterIdentifier {
  font-size: 16px;
}

.cl-userButtonPopoverCard {
  right: 4px !important;
}

.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
  background-color: #705cf7;
}

/* ========================================== REACT-DATEPICKER STYLES */
.datePicker {
  width: 100%;
}

.react-datepicker__input-container input {
  background-color: transparent;
  width: 100%;
  outline: none;
  margin-left: 16px;
}

.react-datepicker__day--selected {
  background-color: #624cf5 !important;
  color: #ffffff !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: #624cf5 !important;
}
